*
{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;

}

body{
    background-image:url("mathsquizimg.jpeg.jpg");
    background-size: cover;
}

.app
{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1
{
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    color:rgb(0,102,204);
}

.quiz
{
    padding: 20px 0;
}

#question
{
    font-size: 18px;
    font-weight: 600;
    color:rgb(0,102,204);
}

.btn
{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background:rgb(204,229,255);
    color:black;
}

.btn:disabled{
    cursor:no-drop;
}

#next-btn
{
    background: rgb(0,102,204);
    color: #fff;
    font-weight: 500;
    width:150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct
{
    background: #9aeabc;
}

.incorrect
{
    background:#ff9393;
}

#exit
{
    background: rgb(0,102,204);
    color: #fff;
    font-weight: 500;
    width:150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}